/.idea
/.vscode
/06-23-2021-22-19-44.png
/06-23-2021-22-20-42.png
/06-23-2021-22-24-13.png
/Apple.png
/camera.py
/face_app1.py
/hand_written.py
/Image.png
/item.png
/kivy_test.py
/media_pipe_hands.py
/mnist_load.py
/mnist_model1
/myfile.png
/MyImg.png
/myvideo.avi
/panda.jpg
/panda_face.py
/tempCodeRunnerFile.py